<a href="https://colab.research.google.com/github/kalyani1106/kalyani/blob/kalyani/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [3]:
for i in range(5):
  laptop_price=int(input("enter the price : "))

enter the price : 200000
enter the price : 300000
enter the price : 400000
enter the price : 500000
enter the price : 100000

In [4]:
nums=[50,20,60,30,80]
for i in nums:
  print(i)

50
20
60
30
80

while

In [2]:
i=0
while(i<10):
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9